@import "../styles/general.scss";
.searchBtn {
  padding: 12px;
}

.search {
  flex-grow: 3;
  background-color: rgba(255, 255, 255, 0.2);
}

.weatherInfo--light {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(60px);
}

.weatherIcon {
  position: absolute;
  right: 0px;
  top: -80px;
}

.title {
  @include fontStyle(400, 16px, 20px, black);
}

.degree {
  @include fontStyle(900, 96px, 120px, var(--purple-500));
}

.content--bold {
  @include fontStyle(700, 16px, 20px, var(--gray-500));
}

.content--light {
  @include fontStyle(400, 16px, 20px, var(--gray-500));
}

.container {
  overflow: auto; /* Ensure scrolling is still possible */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


/* Larger screens (tablet and above) */
@media only screen and (min-width: 600px) {
  .weatherIcon {
    top: -120px;
  }
}

/* Even larger screens (desktop) */
@media only screen and (min-width: 1024px) {
  .weatherIcon {
    top: -120px;
  }
}